.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: outfit;
  gap: 75px;
  color: #323232;
  font-size: 25px;
  font-weight: 400;
  margin-right: 10px;
}

.nav-menu li {
  display: flex;
  cursor: pointer;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none !important;
  color: #000000;
  font-weight: 400;
  transition: 0.3s;
}

.link:hover {
  color: #94BE46;
  transition: 0.3s;
  font-weight: 500;
  transform: scale(1.2);
}
