.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  box-shadow: 0 1px 3px -2px #000;
  margin-bottom: 1px;
  background: #f6f6f6;
}

.nav-logo{
  width: 200px;
}

.nav-profile{
  width: 75px;
}

@media(max-width:800px){
  .navbar{
    padding: 15px 30px;  
  }
  .nav-logo{
    width: 150px;
  }
  .nav-profile{
    width: 60px;
  }
}
